@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=KoHo&family=Lobster&family=Righteous&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  min-width: 700px;
  width: 100%;
}

body {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-image: url('https://images.unsplash.com/photo-1519046904884-53103b34b206?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-width: 700px;
}

.ticket-container {
  background-color: rgba(255,255,255,0.9);
  border: 0;
  border-radius: 20px;
  width: 60vw;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 20px 0;
}

.img-container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
  border-radius: 50%;
  height: 240px;
  width: 240px;
  margin-left: 90px;
}

.content-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 40px;
  width: 100%;
  height: 100%;
}

.hotel-name {
  font-size: 35px;
  font-family: 'Lobster';
  color: gray;
}

.metaphore {
  font-family: 'Righteous';
  font-size: 20px;
  color: gray;
}

.description {
  font-family: 'KoHo';
  font-size: 16px;
  margin: 10px 0 10px;
}

.controls {
  justify-self: flex-end;
}

button {
  align-self: flex-end;
  width: 100px;
  height: 30px;
  border-radius: 20px;
  border-width: 2px;
  border-style: solid;
  margin: 0 10px 0 10px;
  font-weight: bold;
  font-size: 14px;
  transition: 0.1s ease-in-out;
  cursor: pointer;
}

  button:hover {
    transform: scale(1.05);
  }

  button:active {
    transform: scale(0.95);
  }

  button:focus {
    outline: 0;
  }

  button:disabled {
    cursor: not-allowed;
    border: 2px solid gray;
    background-color: #fff;
    color: gray;
  }

#about {
  color: #28C76F;
  border-color: #28C76F;
  background-color: #fff;
}

#buy {
  color: #fff;
  background: linear-gradient(90deg, #81FBB8, #28C76F);
  border: 0;
}



@media(max-width: 1200px) {
  .ticket-container {
    width: 90vw;
  }

  .img-container {
    margin-left: 50px;
  }
}

@media(max-width: 700px) {
  .ticket-container {
    width: 90vw;
  }

  .controls {
    display: flex;
    flex-direction: column;
  }

  .description {
    display: none;
  }

  button {
    margin: 10px 0 10px 0;
  }
}
